example_run_0,1,2,-s,20
example_run_0,2,1,-s,20


neo-constraint-dystopia,promoters,genes,-s -iu,50
neo-constraint-dystopia,genes,promoters,-s -id,50
neo-constraint-dystopia,promoters,terminators,-s -iu,1000
neo-constraint-dystopia,terminators,promoters,-s -id,1000
neo-constraint-dystopia,genes,terminators,-s -iu,100
neo-constraint-dystopia,terminators,genes,-s -id,100

meta-parameter-absurdity,promoters,genes,-s -iu,200
meta-parameter-absurdity,genes,promoters,-s -id,200
meta-parameter-absurdity,promoters,terminators,-s -iu,1500
meta-parameter-absurdity,terminators,promoters,-s -id,1500
meta-parameter-absurdity,genes,terminators,-s -iu,300
meta-parameter-absurdity,terminators,genes,-s -id,300

hyper-parametric-flux,promoters,genes,-s -iu,1000
hyper-parametric-flux,genes,promoters,-s -id,1000
hyper-parametric-flux,promoters,terminators,-s -iu,10000
hyper-parametric-flux,terminators,promoters,-s -id,10000
hyper-parametric-flux,genes,terminators,-s -iu,3000
hyper-parametric-flux,terminators,genes,-s -id,3000
