example_run_0,1,2,-s,20
example_run_0,2,1,-s,20

example_run_RegulonDB,promoters,genes,-s -iu,200
example_run_RegulonDB,genes,promoters,-s -id,200
example_run_RegulonDB,promoters,terminators,-s -iu,1000
example_run_RegulonDB,terminators,promoters,-s -id,1000
example_run_RegulonDB,genes,terminators,-s -iu,500
example_run_RegulonDB,terminators,genes,-s -id,500